body {
    background: #d4f3ef !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #d8345f;
}

.card-header-bg {
    background-color: #d8345f;
}

.card-body-bg {
    background-color: #abf0e9;
}

.form-control,
.input-group-text {
    border-radius: 50px !important;
}

.input-group-text {
    background: rgb(255, 255, 255);
}

.thead-color {
    background-color: #d8345f;
    color: white;
}